.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(54, 58, 80);
  padding: 0 20px;
  box-shadow: 0 5px 10px rgb(95, 160, 225);
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: rgb(95, 160, 225);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 25px;
  border: 2px solid rgb(95, 160, 225);
  height: 20px;
  width: 20px;
  border-radius: 5px;
  color: rgb(95, 160, 225);
}

.messages {
  display: flex;
  align-items: center;
}

.messages img {
  width: 25px;
}