@font-face {
  font-family: "gFont";
  src: local("gFont"),
  url("./fonts/gFont.ttf") format("truetype");
}

@font-face {
  font-family: "bebas";
  src: local("bebas"),
  url("./fonts/bebas.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gFont";
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  padding-top: 60px;
  padding-bottom: 60px;
}